Repository nocox/asakatu-kun, pull requests merged in 2019-07, with the labels that each got.

#59 APIを書いたWikiをREADMEに貼った
  README.md
Labels: ReviewWanted

#56 環境立てる方法を書いたWikiをREADMEに貼った
  README.md
Labels: ReviewWanted

#47 HTML templateとりあえず仮置き
  frontend/index.html
Labels: HTML/CSS, fronteEnd

#57 Vueの開発環境プロジェクトを作成する。
  vueproject/.gitignore
  vueproject/Dockerfile
  vueproject/README.md
  vueproject/babel.config.js
  vueproject/package-lock.json
  vueproject/package.json
  vueproject/public/favicon.ico
  vueproject/public/index.html
  vueproject/src/App.vue
  vueproject/src/assets/logo.png
  vueproject/src/components/HelloWorld.vue
  vueproject/src/main.js
Labels: HTML/CSS, JavaScript, fronteEnd, vue

#53 [IR] アカウント登録の実装
  springboot/pom.xml
  springboot/src/main/java/hello/WebSecurityConfig.java
  springboot/src/main/java/hello/controller/UserRegistrationController.java
  springboot/src/main/java/hello/entity/User.java
  springboot/src/main/java/hello/exeptions/CommonExceptionHandler.java
  springboot/src/main/java/hello/exeptions/UserAlreadyExistException.java
  springboot/src/main/java/hello/repository/UserRepository.java
  springboot/src/main/java/hello/service/UserRegistrationService.java
  springboot/src/main/resources/application.yml
  springboot/src/main/resources/schema-product.sql
  springboot/src/main/resources/schema_prod.sql
  springboot/src/test/java/hello/UserRegistrationControllerTests.java
Labels: ReviewWanted, backEnd

#68 イベント詳細ページのコーディング
  frontend/assets/img/human-icon-big.png
  frontend/assets/javascript/event.js
  frontend/assets/javascript/uikit-icons.js
  frontend/assets/javascript/uikit-icons.min.js
  frontend/assets/javascript/uikit.js
  frontend/assets/javascript/uikit.min.js
  frontend/assets/stylesheet/event.css
  frontend/assets/stylesheet/main.css
  frontend/assets/stylesheet/uikit-rtl.css
  frontend/assets/stylesheet/uikit-rtl.min.css
  frontend/assets/stylesheet/uikit.css
  frontend/assets/stylesheet/uikit.min.css
  frontend/event.html
  frontend/index.html
Labels: HTML/CSS, fronteEnd

#71 イベント詳細ページのコーディング
  frontend/assets/stylesheet/main.css
  frontend/event.html
Labels: HTML/CSS, fronteEnd

#58 [IR]イベント一覧APIの実装
  springboot/pom.xml
  springboot/src/main/java/hello/controller/EventController.java
  springboot/src/main/java/hello/entity/Event.java
  springboot/src/main/java/hello/repository/EventRepository.java
  springboot/src/main/resources/data.sql
  springboot/src/test/java/hello/AbstractTest.java
  springboot/src/test/java/hello/EventControllerTests.java
Labels: ReviewWanted, backEnd

#81 Vueの設定を作り変えます。
  .github/ISSUE_TEMPLATE.md
  vue/.browserslistrc
  vue/.eslintrc.js
  vue/.gitignore
  vue/README.md
  vue/babel.config.js
  vue/cypress.json
  vue/jest.config.js
  vue/package-lock.json
  vue/package.json
  vue/postcss.config.js
  vue/public/favicon.ico
  vue/public/img/icons/android-chrome-192x192.png
  vue/public/img/icons/android-chrome-512x512.png
  vue/public/img/icons/apple-touch-icon-120x120.png
  vue/public/img/icons/apple-touch-icon-152x152.png
  vue/public/img/icons/apple-touch-icon-180x180.png
  vue/public/img/icons/apple-touch-icon-60x60.png
  vue/public/img/icons/apple-touch-icon-76x76.png
  vue/public/img/icons/apple-touch-icon.png
  vue/public/img/icons/favicon-16x16.png
  vue/public/img/icons/favicon-32x32.png
  vue/public/img/icons/msapplication-icon-144x144.png
  vue/public/img/icons/mstile-150x150.png
  vue/public/img/icons/safari-pinned-tab.svg
  vue/public/index.html
  vue/public/manifest.json
  vue/public/robots.txt
  vue/src/App.vue
  vue/src/assets/css/_sign_up.scss
  vue/src/assets/css/base.scss
  vue/src/assets/logo.png
  vue/src/components/HelloWorld.vue
  vue/src/main.js
  vue/src/registerServiceWorker.js
  vue/src/router.js
  vue/src/store.js
  vue/src/views/About.vue
  vue/src/views/Event.vue
  vue/src/views/EventCreate.vue
  vue/src/views/Events.vue
  vue/src/views/Home.vue
  vue/src/views/SignUp.vue
  vue/tests/e2e/.eslintrc.js
  vue/tests/e2e/plugins/index.js
  vue/tests/e2e/specs/test.js
  vue/tests/e2e/support/commands.js
  vue/tests/e2e/support/index.js
  vue/tests/unit/.eslintrc.js
  vue/tests/unit/example.spec.js
Labels: fronteEnd, vue

#49 [WIP] event一覧ページのjs側の実装
  .github/ISSUE_TEMPLATE.md
Labels: JavaScript, fronteEnd

#86 ふるいVueをけします。
  vueproject/.gitignore
  vueproject/Dockerfile
  vueproject/README.md
  vueproject/babel.config.js
  vueproject/package-lock.json
  vueproject/package.json
  vueproject/public/favicon.ico
  vueproject/public/index.html
  vueproject/src/App.vue
  vueproject/src/assets/logo.png
  vueproject/src/components/HelloWorld.vue
  vueproject/src/main.js
Labels: fronteEnd, vue

#87 [WIP]Vueのテストを書いてみます。
  vue/src/App.vue
  vue/tests/e2e/specs/SignUpTest.js
  vue/tests/e2e/specs/test.js
Labels: vue

#88 イベント詳細ページのスタイリング
  frontend/assets/stylesheet/.sass-cache/ba4aa05229a95ef7c866e61b3c067f705403e5d3/event.scssc
  frontend/assets/stylesheet/event.css
  frontend/assets/stylesheet/event.css.map
  frontend/assets/stylesheet/event.scss
  frontend/event.html
Labels: HTML/CSS, fronteEnd

#78 [IR]OkResponseを切り出した
  springboot/src/main/java/hello/OkResponse.java
  springboot/src/main/java/hello/controller/EventController.java
  springboot/src/main/java/hello/controller/UserRegistrationController.java
Labels: ReviewWanted, backEnd

#79 [IR]イベント削除・作成・詳細・更新APIの追加
  springboot/src/main/java/com/asakatu/controller/EventController.java
  springboot/src/main/java/com/asakatu/entity/Event.java
Labels: ReviewWanted, backEnd

#89 イベント詳細ページのAPI処理
  frontend/assets/javascript/event.js
  frontend/event.html
  frontend/index.html
Labels: JavaScript, fronteEnd, vue

#92 イベント作成ページのHTML、CSSやります。
  frontend/assets/javascript/eventCreate.js
  frontend/assets/stylesheet/.sass-cache/ba4aa05229a95ef7c866e61b3c067f705403e5d3/eventCreate.scssc
  frontend/assets/stylesheet/eventCreate.css
  frontend/assets/stylesheet/eventCreate.css.map
  frontend/assets/stylesheet/eventCreate.scss
  frontend/eventCreate.html
Labels: HTML/CSS, JavaScript, fronteEnd, vue

#93 JS側の実装
  frontend/assets/javascript/eventCreate.js
  frontend/assets/stylesheet/.sass-cache/ba4aa05229a95ef7c866e61b3c067f705403e5d3/eventCreate.scssc
  frontend/assets/stylesheet/eventCreate.css
  frontend/assets/stylesheet/eventCreate.scss
Labels: JavaScript, fronteEnd, vue

#97 フロント側のテストを書いていきます。
  vue/public/index.html
  vue/src/App.vue
  vue/src/assets/css/_base.scss
  vue/src/assets/css/base.scss
  vue/src/assets/css/uikit-rtl.css
  vue/src/assets/css/uikit-rtl.min.css
  vue/src/assets/css/uikit.css
  vue/src/assets/css/uikit.min.css
  vue/src/assets/img/human-icon-big.png
  vue/src/assets/js/uikit-icons.js
  vue/src/assets/js/uikit-icons.min.js
  vue/src/assets/js/uikit.js
  vue/src/assets/js/uikit.min.js
  vue/src/main.js
  vue/src/views/Event.vue
  vue/tests/e2e/specs/EventCreateTest.js
  vue/tests/e2e/specs/EventListTest.js
  vue/tests/e2e/specs/LoginTest.js
  vue/tests/unit/EventPagetest.spec.js
Labels: fronteEnd, vue

#98 [IR] ユーザの詳細API
  springboot/pom.xml
  springboot/src/main/java/com/asakatu/controller/UserDetailController.java
  springboot/src/main/java/com/asakatu/entity/User.java
  springboot/src/test/java/com/asakatu/UserDetailControllerTests.java
Labels: ReviewWanted, backEnd

#67 イベント参加API
  springboot/pom.xml
  springboot/src/main/java/com/asakatu/controller/EventController.java
  springboot/src/main/java/com/asakatu/entity/Event.java
  springboot/src/main/java/com/asakatu/entity/User.java
  springboot/src/main/java/com/asakatu/entity/UserStatus.java
  springboot/src/main/java/com/asakatu/repository/UserRepository.java
  springboot/src/main/java/com/asakatu/repository/UserStatusRepository.java
  springboot/src/test/java/com/asakatu/EventControllerTests.java
Labels: backEnd

#99 [IR] ユーザ情報更新API（表示名）
  springboot/src/main/java/com/asakatu/controller/UserDetailController.java
  springboot/src/test/java/com/asakatu/UserDetailControllerTests.java
Labels: ReviewWanted, backEnd

#105 [IR] ユーザ情報更新API（プロフィール画像）
  .gitignore
  docker-compose.yml
  springboot/pom.xml
  springboot/src/main/java/com/asakatu/controller/UserDetailController.java
  springboot/src/main/java/com/asakatu/controller/UserRegistrationController.java
  springboot/src/main/java/com/asakatu/property/S3BucketProperties.java
  springboot/src/main/java/com/asakatu/service/S3BucketService.java
  springboot/src/main/resources/application.yml
  springboot/src/test/resources/application.yml
Labels: ReviewWanted, backEnd
